.container_wrap{  
  // display: flex;
  // flex-direction: column;
  height: 100vh;
  .wrap_header{
    background: skyblue;
    height: 64px;
  }
  .wrap_content{
    min-height: calc(100vh - 64px - 50px);
    background: #F1FAFA;
  }
  .wrap_footer{
    background: green;
    height: 50px;
  }
}